<!-- <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script> -->
<!------ Include the above in your HEAD tag ---------->

<!DOCTYPE html>
<html lang="en">
<head>
  <title>SISTEM MONITORING</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel='stylesheet' href='/stylesheets/chatbox.css' />
  <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>
</head>
<body>

<div class="messaging">
  <div class="inbox_msg">
	<div class="inbox_people">
	  <div class="headind_srch">
		<div class="recent_heading">
		  <h4>WEBSOCKET LORA</h4>
		</div>
		<div class="srch_bar">
		  <div class="stylish-input-group">
			</div>
		</div>
	  </div>
	  <div class="inbox_chat scroll">
	  </div>
	</div>
	<div class="mesgs">
	  <div id="messages" class="msg_history">
	  </div>
	</div>
  </div>
</div>

</body>
<script>
const getElement = (id) => document.getElementById(id);

  const addMessage = (message) => {
    console.log(message)
    let data = JSON.parse(message)
    // let test = JSON.parse(data)
    console.log(typeof(data))
    let add = ""
    if(data.ph < 5){
      add += " PH Asam, "
    } else if (data.ph > 8) {
      add+= " PH Basa, "
    } else {
      add+= " PH Normal, "
    }

    if(data.temp < 18){
      add += "Suhu Dingin, "
    } else if (data.temp > 32) {
      add+= "Suhu Hangat/Panas, "
    } else {
      add+="Biasa, "
    }

    if(data.tur < 2.8) {
      add+= "Keruh"
    } else {
      add+= "Jernih"
    }
    const pTag = "<div class=\"outgoing_msg\"></div><div class=\"incoming_msg\"><div class=\"incoming_msg_img\"> <img src=\"/images/user-profile.png\" alt=\"sunil\"> </div><div class=\"received_msg\"><div class=\"received_withd_msg\"><p>"+ " PH : " + data.ph +  " TEMP : " + data.temp + " TUR : " + data.tur +  " KET : " + add + "</p><span class=\"time_date\"> " + new Date + "</span></div></div></div>"
    getElement('messages').innerHTML += pTag;
  };
  const ws = new WebSocket('ws://192.168.4.1:3030'); ws.onopen = () => {
    console.log('Now connected');
  };
  ws.onmessage = (event) => {
    // console.log(event.data)
    let data = JSON.parse(event.data)
    // let msg = "PH : " + data.ph + " Temp : " + data.temp + " Tur : " + data.tur
    // // messages.push(msg);
    // if (data.ph < 5) {
    //   msg += " | Air Terlalu Asam";
    // } else if (data.ph > 8) {
    //   msg += " | Air Terlalu Asam";
    // }
    // console.log(msg)
    const messages = data;
    messages.forEach(addMessage);
  };
</script>
</html>





